@use "../global.scss" as *;

.admin_sidebar {
  position: sticky;
  top: 0;
  left: 0;
  width: 300px;
  z-index: 1000;
  overflow-x: hidden;
  overflow-y: auto;
  background: #fff;
  border-right: 1px solid #eee;
  min-height: 100vh;
  @include bezier-transition(all, 0.25s, ease-in-out);
  // box-shadow: rgb(99 99 99 / 20%) 0px 2px 8px 0px;
  @include for-tablet-portrait {
    width: 100px;
  }
  &::-webkit-scrollbar {
    width: 5px;
  }

  &::-webkit-scrollbar-thumb {
    background-color: #eee;
    border-radius: 10px;
  }

  .logo-img {
    // width: 200px;
    // margin: 20px 0;
    // padding: 0 0 10px 40px;
    margin: 15px 50px;

    @include for-tablet-portrait {
      margin: 15px 30px;
    }
  }

  .admin_sidebar_content {
    margin: 20px 0;
    padding: 0 0 10px 40px;
    @include for-tablet-portrait {
      padding: 0 0 10px 25px;
    }
    .menu_title {
      text-transform: uppercase;
      font-size: 16px;
      color: rgb(187, 187, 187);
      padding: 0 0 0 10px;
      @include for-tablet-portrait {
        padding: 0;
      }
    }
    .admin_sidebar_menu {
      margin: 15px 0px 15px 10px;
      @include for-tablet-portrait {
        margin: 15px 0;
      }
      .sidebar_link {
        padding: 10px 10px;
        display: flex;
        align-items: center;
        color: #777;
        // gap: 10px;
        justify-content: space-between;
        position: relative;
        cursor: pointer;
        svg {
          font-size: 25px;
        }
        span {
          font-size: 16px;
          font-weight: bold;
          @include for-tablet-portrait {
            display: none;
          }
        }
        &:hover {
          border-right: 5px solid #ff4141;
          // color: #000;
          svg {
            color: #ff4141;
          }
        }

        .flexed_div {
          display: flex;
          align-items: center;
          gap: 10px;
        }
      }
      .adminActiveLink {
        color: #000;
        background: #eee;
        border-top-left-radius: 10px;
        border-bottom-left-radius: 10px;
        border-right: 5px solid #ff4141;
        svg {
          color: #ff4141;
        }
      }
    }
  }
}

.admin_sidebar_none {
  width: 0;
}
