$primary_dark_color: #0f0f0f;
$secondary_dark_color: #272727;
$primary_text_color: #dadada;
$scrollbar-color: #ff4141;
$border-color: #3f3f3f;

body.dark-mode {
  background: $primary_dark_color;
  color: $primary_text_color;
}

body.dark-mode *::-webkit-scrollbar {
  width: 5px;
}
body.dark-mode *::-webkit-scrollbar-thumb {
  background-color: $primary_text_color;
  border-radius: 10px;
}

body.dark-mode .admin_dashboard {
  .admin_sidebar {
    background: $secondary_dark_color;
    color: $primary_text_color;
    border-right: 1px solid $border-color;

    .admin_sidebar_content {
      .admin_sidebar_menu {
        .sidebar_link {
          color: $primary_text_color;
          &:hover {
            background: $border-color;
            border-top-left-radius: 10px;
            border-bottom-left-radius: 10px;
            svg {
              color: #ff4141;
            }
          }
        }
        .adminActiveLink {
          background: $border-color;
          color: $primary_text_color;
        }
      }
    }
  }
  .admin_dashboard_content {
    background: $border-color;

    .dashboard_navigation {
      background: $secondary_dark_color;
      color: $primary_text_color;
      border-bottom: 1px solid $border-color;
      .keyword_input {
        background: $border-color;
        border: 1px solid $border-color;
      }
    }
    .admin_dashboard_content_wrapper {
      #admin_bg {
        background: $secondary_dark_color;
      }
    }
  }
}
