@import url("https://fonts.googleapis.com/css2?family=Urbanist:wght@200;300;400;500;600;700;800&display=swap");

@keyframes shine {
  0% {
    transform: translateX(-30px) rotate(-25deg);
  }

  100% {
    transform: translateX(250px) rotate(-25deg);
  }
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  -webkit-font-smoothing: antialiased;
}

body {
  font-family: "Urbanist", sans-serif;
  overflow-x: hidden;
  iframe {
    z-index: -2 !important;
  }
}

body::-webkit-scrollbar {
  width: 8px;
}
body::-webkit-scrollbar-thumb {
  background-color: #ff4141;
  border-radius: 10px;
}

*::selection {
  color: white;
  background-color: #ff4141;
}

*:focus {
  outline: none;
}

.container {
  max-width: 1170px;
  padding-left: 20px;
  padding-right: 20px;
  margin: auto;
}

section {
  padding: 50px 0;
}

.sticky__header {
  width: 100%;
  height: 80px;
  line-height: 80px;
  position: sticky;
  top: 0;
  left: 0;
  background: #fff;
  box-shadow: 3px 3px -8px 3px #ddd;
  z-index: 99;
}

.services_items {
  .item {
    width: 27.5%;
    padding: 20px;
    position: relative;
    overflow: hidden;
    transition: all 200ms linear;
    &:hover {
      transform: translateY(-15px);
      box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
      &::after {
        content: "";
        display: block;
        width: 75px;
        height: 175%;
        background: rgb(255, 255, 255);
        background: linear-gradient(
          90deg,
          rgba(255, 255, 255, 0) 0%,
          rgba(255, 255, 255, 1) 25%,
          rgba(255, 255, 255, 1) 50%,
          rgba(255, 255, 255, 1) 75%,
          rgba(255, 255, 255, 0) 100%
        );
        opacity: 0.5;
        position: absolute;
        top: -50px;
        left: 0;
        animation: shine 500ms linear;
        transform: translateX(1000px) rotate(-25deg);
      }
    }
    svg {
      font-size: 40px;
    }
    h6 {
      width: 72%;
      margin: 20px 0;
    }
  }
}

.react-multi-carousel-dot-list {
  bottom: 15px !important;
}

.react-multi-carousel-dot button {
  transition: 0.5s;
  border-color: #ff4141 !important;
}
.react-multi-carousel-dot--active {
  color: #081e21 !important;
}

.scroll_hover_img {
  display: block;
  width: auto;
  height: 250px;
  overflow: hidden;
  position: relative;
  // border: 2px solid #ff4141;
  border-radius: 10px;
  margin: 0 auto;
  img {
    // bottom: -890px;
    width: 100%;
    height: auto;
    position: absolute;
    z-index: 0;
    margin: 0;
    padding: 0;
    -webkit-transition: top 15s;
    -moz-transition: top 15s;
    -ms-transition: top 15s;
    -o-transition: top 15s;
    transition: bottom 15s;
  }
  &:hover {
    img {
      bottom: 0;
      -webkit-transition: all 15s;
      -moz-transition: all 15s;
      -ms-transition: all 15s;
      -o-transition: all 15s;
      transition: all 15s;
    }
  }
}

.mobile_carousel {
  align-items: center;
  display: flex;
  justify-content: center;
  height: 400px;
  margin: 0px auto;
  img {
    width: 200px;
    border-radius: 10px;
  }
}

@media only screen and (max-width: 768px) {
  .menu {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background: #00000084;
    z-index: 100;
    display: none;
    ul {
      width: 15rem;
      height: 100%;
      position: absolute;
      top: 0;
      right: 0;
      z-index: 200;
      background: #fff;
      flex-direction: column;
      line-height: 30px;
      justify-content: center;
      align-items: center;
    }
  }

  .show__menu {
    display: block;
  }

  .services_items {
    .item {
      width: 100%;
    }
  }
}

.loading {
  position: absolute;
  top: 50%;
  left: 50%;
}
.loading svg polyline {
  fill: none;
  stroke-width: 4;
  stroke-linecap: round;
  stroke-linejoin: round;
}

.loading svg polyline#back {
  fill: none;
  stroke: #ff4d5033;
}

.loading svg polyline#front {
  fill: none;
  stroke: #ff4d4f;
  stroke-dasharray: 48, 144;
  stroke-dashoffset: 192;
  animation: dash_682 1.4s linear infinite;
}

@keyframes dash_682 {
  72.5% {
    opacity: 0;
  }

  to {
    stroke-dashoffset: 0;
  }
}
